body{
    box-sizing: border-box;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    height: 100vh;
}
.page-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main-heading{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 50px 0;
}
.enter-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-wrap{
    display: flex;
    flex-direction: column;
}
.input-wrap input{
    width: 250px;    
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: #000;
    border: none;
}

.input-wrap input:first-child{
    border-bottom: 1.5px solid #000;
}
.input-wrap input:last-child{
    border-top: 1.5px solid #000;
}
.checkbox-wrap{
    padding: 10px 0;
}
button{
    border: none;
    width: 200px;
    height: 30px;
    transition: .5s;
}
button:hover{
    background-color: green;
    cursor: pointer;
}
.info-wrap{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

/* setting theme */
.setting-icon{
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;     
}
.setting-icon:hover{
    cursor: pointer;
}
.setting{
    display: none;
    position: fixed;
}
.visible{
    display: block;
}
.background, .text-color, .font-size ,.wrap-btn-reset{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap-btn-reset{
    padding-top: 10px;
}

/* kostil */
@media screen and (min-width: 800px) {
    .setting{
        top: 45px;
    }
}
/* phone optimization */
@media screen and (max-width: 800px) {
    .setting{  
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgb(70, 70, 70) ;
    }
    
    
  }